.blogInitals{
    text-align: right;
    font-size: 40px;
    font-family: "Brush Script MT";
    color: rgb(224, 195, 251)
}

.blogText{
    color: white
}
.text-muted{
    margin: 0px 40px 100px 10px;
    position: absolute;
    bottom: -70px;
}