
/* centers the pages from the side nav */
.mainz {
    margin-left: 160px; /* Same as the width of the sidenav */
    padding: 0px 10px;
  }


.blogInitals{
    text-align: right;
    font-size: 40px;
    font-family: "Brush Script MT";
    color: rgb(224, 195, 251)
}

.blogText{
    color: rgb(250, 250, 250);
    font-size: 25px;
    /* font-weight: bold; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* font-variant: small-caps; */

}
.text-muted{
    margin: 0px 40px 100px 10px;
    position: absolute;
    bottom: -70px;
}

.bloggscommentButton{
    font-family: Georgia, 'Times New Roman', Times, serif;
}