/* .container{
  justify-content: right;
   
} */

/* .myposts{
  width: 220px;
  height: 220px;
} */

.homecard {
    width: 600px;
    /* margin: 65px 40px 70px 20px; */
    margin: 65px 40px 70px 20px;
    color: white;
 
}

.initals {
    text-align: center;
    font-size: 40px;
    font-family: "Brush Script MT"

}

.status {
    text-align: right;
}

/* .commentlist{
    text-align: center;
    color: white;
    background-color: blueviolet;
} */
.posts{
    color: rgb(211, 172, 229);
    text-align: center;
    font-size: 35px;
    font-family: "Lucida Console", cursive
}

.posts2{
    color: rgb(255, 255, 255);
    text-align: center;
}

.postdate{
    color: rgb(255, 255, 255);
}