

.gradient-custom-2 {
    background: linear-gradient(to right, #a55efc, #b88af0, #6b13d6, #4e009c);
    padding: 10px;
  }
  
  @media (min-width: 768px) {
    .gradient-form {
      height: 100vh !important;
    }
  }
  @media (min-width: 769px) {
    .gradient-custom-2 {
      border-top-right-radius: .3rem;
      border-bottom-right-radius: .3rem;
    }
  }
  